@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="../../Scripts/jquery-1.8.2.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../Content/styles.css" />
    <link href="../../Content/themes/humanity/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/ui/jquery-ui.custom.js" type="text/javascript"></script>
    <!--Podlaczenie Intellisense do VS-->
    @if (false)
    { 
        <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script> 
    }
@*
    <!--Odpalanie funkcji po zakonczeniu ladowania strony!!!-->
    <script type="text/javascript">
        $(document).ready(
            function () {
                $("img:odd").mouseenter(function (e) {
                    $(this).css("opacity", 0.5);
                }).mouseout(function (e) {
                    $(this).css("opacity", 1.0);
                });
            }); 
    </script>
    
    <!--Odpalanie funkcji po zakonczeniu ladowania strony!!! TYLKO INACZEJ-->
    <script type="text/javascript">
        $(function () {
            $("img:odd").mouseenter(
                function(e) {
                    $(this).css("opacity", 0.5);
                }).mouseout(function(e) {
                    $(this).css("opacity", 1.0);
                });
        }); 
    </script>
    
    <!--Wywolywanie funkcji z contextem-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("img:odd", $('.drow')).mouseenter(function(e) {
                $(this).css("opacity", 0.5);
            }).mouseout(function(e) {
                $(this).css("opacity", 1.0);
            });
        }); 
    </script>
    
    <!--Uzycie selektora jako zmiennej-->
    <script type="text/javascript">
        $(document).ready(function () {
            var selector = $("img:odd").selector;
            console.log("Selector: " + selector);
        }); 
    </script>
    
    <!--Wywolywanie funkcji na podstawie przekazanego elementu HtmlElement-->
    <script type="text/javascript">
        $(document).ready(function () {
            var elems = document.getElementsByTagName("img");
            $(elems).mouseenter(function(e) {
                $(this).css("opacity", 0.5);
            }).mouseout(function(e) {
                $(this).css("opacity", 1.0);
            });
        }); 
    </script>
    
    <!--Przechodzenie przez elementy selektora.-->
    <script>
        $(document).ready(function () {
            var images = $("img");

            for (var i = 0; i < images.length; i++) 
            {
                console.log(images[i]);
            }
        })
    </script>
    *@
    
@*<script type="text/javascript">
        $(document).ready(function () 
        {
            $('label').css("color", "red").add("input[name!='rose']").filter("[for!='snowdrop']").css("font-size", ".75em"); 
    
            var elems = document.getElementsByTagName("label");

            for (var i = 0; i < elems.length; i++) 
            { 
                elems[i].style.color = "red";
    
                if (elems[i].getAttribute("for") != "snowdrop") 
                { 
                    elems[i].style.fontSize= ".75em"; 
                } 
            } 

            elems = document.getElementsByTagName("input");

            for (var i = 0; i < elems.length; i++) 
            {
                if (elems[i].getAttribute("name") != "rose") 
                {
                    elems[i].style.fontSize = ".75em";
                }
            }
        }); 
    </script>*@
    
@*<script type="text/javascript">
        $(document).ready(function () {

            var a = document.getElementById("peony");

            var sel = $("img");

            console.log(sel.length);

            for (var i = 0; i < sel.length; i++) {
                console.log(sel[i].tagName + sel[i].src);
            }
        }); 
    </script>*@
    
@*<script type="text/javascript">
        $(document).ready(function () {

            $('label').css("color", "green").css("font-size", ".75em"); ;
        }); 
    </script>*@
    <!--Tworzenie nowego elementu-->
    <!-- Odczytywanie wartosci poszczegolnych elementow FORMULARZ - wartosci sa odczytywane z argumentu value!!!-->
    @*<script type="text/javascript">
          $(document).ready(function () {


              $('input').val(function (index, value) {
                  return index;
              });

              $('input').each(function (index, value) {

                  var v = $(value).val();
                  console.log(v);
              });

          }); 
    </script>*@ @*
    Przechowywanie stanu elementu za pomoca funkcji DATA - dane nie sa widoczne dla usera dlatego tez nie ma obawy przed ich zmiana
    <script type="text/javascript">
        $(document).ready(function () {

            $("img").each(function (index, element) {
                $(element).data("aaa", index);
            });

            var result = $('img').filter(function () {
                return $(this).data('aaa') == '2';
            }).each(function (index, element) {
                console.log(element);
            });
        }); 
    </script>*@ @*<script type="text/javascript">
        $(document).ready(function () {
            $('img').bind('mouseenter', foo);
        });

        function foo(e) {
            console.log('aaaa');
        }
    </script>*@ @*<script type="text/javascript">
        $(document).ready(function () {



            $(':submit').click(function (e) {
                $('#oblock').slideToggle('2000');
                window.showModalDialog();
                e.preventDefault();
            });


        });
    </script>*@ 
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#accordion").css("display", "block").accordion({
                heightStyle: "content",
                width: "500px"
            });

            $('button').button({
                label:"Submit",
                disabled: false,
                icons: {
                    primary: "ui-icon-star",
                    secondary: "ui-icon-circle-arrow-e"
                } 
            });
            
            
        }); 
    </script>
    
    @*<script type="text/javascript">
        $(document).ready(function () {
            $('button').click(function (e) {
                showDialog();
                e.preventDefault();
            });
        });


        function showDialog() {
            $("#dialog-modal").dialog({
                height: 240,
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    },
                    Dupa: function () {
                        $(this).dialog("close");
                    }
                }
            });
        };
    </script>*@
</head>
<body>
    <h1>
        Jacqui's Flower Shop</h1>
    <div id="accordion" style=" width: 600px; display: none">
        <h3>
            Section 1</h3>
        <div>
            <p>
                abc
            </p>
        </div>
        <h3>
            Section 2</h3>
        <div>
            <p>
                cde
            </p>
        </div>
        <h3>
            Section 3</h3>
        <div>
            <p>
                efg
            </p>
            <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
            </ul>
        </div>
        <h3>
            Section 4</h3>
        <div>
            <p>
                Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.
            </p>
            <p>
                Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class
                aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
        </div>
    </div>
    <div id="dialog-modal" title="Okno modalne" style="display: none">
        <p style="font-size: 10px">
            Adding the modal overlay screen makes the dialog look more prominent because it
            dims out the page content.
        </p>
    </div>
    <form method="post">
    <div id="oblock">
        <div class="dtable">
            <div id="row1" class="drow">
                <div class="dcell">
                    <img src="../../Content/Images/astor.png" />
                    <label for="astor">
                        Astor:</label>
                    <input name="astor" value="0" required>
                </div>
                <div class="dcell">
                    <img src="../../Content/Images/daffodil.png" />
                    <label for="daffodil">
                        Daffodil:</label>
                    <input name="daffodil" value="0" required>
                </div>
                <div class="dcell">
                    <img src="../../Content/Images/rose.png" />
                    <label for="rose">
                        Rose:</label>
                    <input name="rose" value="0" required>
                </div>
            </div>
            <div id="row2" class="drow">
                <div class="dcell">
                    <img src="../../Content/Images/peony.png" />
                    <label for="peony">
                        Peony:</label>
                    <input name="peony" value="0" required>
                </div>
                <div class="dcell">
                    <img src="../../Content/Images/primula.png" />
                    <label for="primula">
                        Primula:</label>
                    <input name="primula" value="0" required>
                </div>
                <div class="dcell">
                    <img src="../../Content/Images/snowdrop.png" />
                    <label for="snowdrop">
                        Snowdrop:</label>
                    <input name="snowdrop" value="0" required>
                </div>
            </div>
        </div>
    </div>
    <div id="buttonDiv">
        <button type="submit">
            Place Order</button></div>
    </form>
</body>
</html>
