@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="../../Scripts/jquery-1.8.2.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../../Content/styles.css" />
    <!--Podlaczenie Intellisense do VS-->
    @if (false)
    { 
        <script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script> 
    }
@*
    <!--Odpalanie funkcji po zakonczeniu ladowania strony!!!-->
    <script type="text/javascript">
        $(document).ready(
            function () {
                $("img:odd").mouseenter(function (e) {
                    $(this).css("opacity", 0.5);
                }).mouseout(function (e) {
                    $(this).css("opacity", 1.0);
                });
            }); 
    </script>
    
    <!--Odpalanie funkcji po zakonczeniu ladowania strony!!! TYLKO INACZEJ-->
    <script type="text/javascript">
        $(function () {
            $("img:odd").mouseenter(
                function(e) {
                    $(this).css("opacity", 0.5);
                }).mouseout(function(e) {
                    $(this).css("opacity", 1.0);
                });
        }); 
    </script>
    
    <!--Wywolywanie funkcji z contextem-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("img:odd", $('.drow')).mouseenter(function(e) {
                $(this).css("opacity", 0.5);
            }).mouseout(function(e) {
                $(this).css("opacity", 1.0);
            });
        }); 
    </script>
    
    <!--Uzycie selektora jako zmiennej-->
    <script type="text/javascript">
        $(document).ready(function () {
            var selector = $("img:odd").selector;
            console.log("Selector: " + selector);
        }); 
    </script>
    
    <!--Wywolywanie funkcji na podstawie przekazanego elementu HtmlElement-->
    <script type="text/javascript">
        $(document).ready(function () {
            var elems = document.getElementsByTagName("img");
            $(elems).mouseenter(function(e) {
                $(this).css("opacity", 0.5);
            }).mouseout(function(e) {
                $(this).css("opacity", 1.0);
            });
        }); 
    </script>
    
    <!--Przechodzenie przez elementy selektora.-->
    <script>
        $(document).ready(function () {
            var images = $("img");

            for (var i = 0; i < images.length; i++) 
            {
                console.log(images[i]);
            }
        })
    </script>
    *@
    
@*<script type="text/javascript">
        $(document).ready(function () 
        {
            $('label').css("color", "red").add("input[name!='rose']").filter("[for!='snowdrop']").css("font-size", ".75em"); 
    
            var elems = document.getElementsByTagName("label");

            for (var i = 0; i < elems.length; i++) 
            { 
                elems[i].style.color = "red";
    
                if (elems[i].getAttribute("for") != "snowdrop") 
                { 
                    elems[i].style.fontSize= ".75em"; 
                } 
            } 

            elems = document.getElementsByTagName("input");

            for (var i = 0; i < elems.length; i++) 
            {
                if (elems[i].getAttribute("name") != "rose") 
                {
                    elems[i].style.fontSize = ".75em";
                }
            }
        }); 
    </script>*@
    
@*<script type="text/javascript">
        $(document).ready(function () {

            var a = document.getElementById("peony");

            var sel = $("img");

            console.log(sel.length);

            for (var i = 0; i < sel.length; i++) {
                console.log(sel[i].tagName + sel[i].src);
            }
        }); 
    </script>*@
    
@*<script type="text/javascript">
        $(document).ready(function () {

            $('label').css("color", "green").css("font-size", ".75em"); ;
        }); 
    </script>*@
    <!--Tworzenie nowego elementu-->
    
    <!-- Odczytywanie wartosci poszczegolnych elementow!!!-->
    <script type="text/javascript">
        $(document).ready(function () {

            debugger;
            $('input').val(function (index, value) {
                return index;
            });

            $('input').each(function (index, value) {
                var value = $(element).val();

            });

        }); 
    </script>
</head>
<body>
    <h1>
        Jacqui's Flower Shop</h1>
    <form method="post">
    <div id="oblock">
        <div class="dtable">
            <div id="row1" class="drow">
                <div class="dcell">
                    <img src="../../Content/Images/astor.png" />
                    <label for="astor">
                        Astor:</label>
                    <input name="astor" value="0" required>
                </div>
                <div class="dcell">
                    <img src="../../Content/Images/daffodil.png" />
                    <label for="daffodil">
                        Daffodil:</label>
                    <input name="daffodil" value="0" required>
                </div>
                <div class="dcell">
                    <img src="../../Content/Images/rose.png" />
                    <label for="rose">
                        Rose:</label>
                    <input name="rose" value="0" required>
                </div>
            </div>
            <div id="row2" class="drow">
                <div class="dcell">
                    <img src="../../Content/Images/peony.png" />
                    <label for="peony">
                        Peony:</label>
                    <input name="peony" value="0" required>
                </div>
                <div class="dcell">
                    <img src="../../Content/Images/primula.png" />
                    <label for="primula">
                        Primula:</label>
                    <input name="primula" value="0" required>
                </div>
                <div class="dcell">
                    <img src="../../Content/Images/snowdrop.png" />
                    <label for="snowdrop">
                        Snowdrop:</label>
                    <input name="snowdrop" value="0" required>
                </div>
            </div>
        </div>
    </div>
    <div id="buttonDiv">
        <button type="submit">
            Place Order</button></div>
    </form>
</body>
</html>
